* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    background: linear-gradient(to right, aqua, rgb(0, 149, 255), cyan);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-repeat: no-repeat;
  }
  h1 {
    font-size: 4rem;
    color: rgb(255, 59, 5);
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 6px;
    box-shadow: 2px 2px 1px 3px rgba(3, 1, 113, 0.58);
  }
  .countdown-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(9.5rem, 1fr));
    width: 80%;
    gap: 20px;
  }
  .big-text {
    color: rgba(0, 0, 139, 0.842);
    font-size: 2.5rem;
    font-weight: 550;
  }
  .box {
    padding: 10px;
    text-align: center;
    background: rgba(214, 213, 213, 0.07), transparent;
    backdrop-filter: blur(2rem);
    box-shadow: -1px -1px 3px rgba(5, 41, 223, 0.1),
      2px 2px 6px rgba(1, 29, 123, 0.699);
  }
  span {
    font-size: 2rem;
    color: rgb(236, 213, 5);
    font-weight: 700;
  }